<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MessengerRichPresence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <MessengerRichPresence.Properties.Settings>
            <setting name="SeeStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeeMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowInvites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeeEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeeName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeeContacts" serializeAs="String">
                <value>False</value>
            </setting>
        </MessengerRichPresence.Properties.Settings>
    </userSettings>
</configuration>
